* text=auto

*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.ps1 text eol=lf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.exe binary
*.msi binary
*.zip binary
*.7z binary
*.rar binary
